/* Footer style */
footer {
    background-color: #00012e;
    padding-bottom: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}

#footer-content {
    padding-top: 10px;
    background-size: 100%;
    background-image: url("https://ik.imagekit.io/nanoplex/Temp/back_mvhr0r7LJ.jpg?updatedAt=1680095285302");
}
#button_img_footer{
    width: 30px;
    height: 30px;
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer_u_text{
    color: white;
}